@import 'normalize.css';

:root {
	--theme-primary-color: #42567A;
	--theme-primary-color-10-alpha: #42567A10;
	--theme-font-color: #3877EE;
	--theme-accent-color: #9DBEFD;
	--theme-offtop-color: #EF5DA8;
	--theme-secondary-color: #5D5FEF;
	--theme-bg-color: #f4f5f9;
	--body-padding: 80px;
	--pagination-container-width: 530px;
	--pagination-container-padding-top: 170px;

}

body {
	color: var(--theme-primary-color);
	background-color: var(--theme-bg-color);
}

.appSlider__pagination {
	grid-area: pagin;
	height: var(--pagination-container-width);
	width: var(--pagination-container-width);
	position: relative;
	margin-top: 45px;
	margin-bottom: 40px;


	position: relative;
	left: 0;
	transform-origin: 50% 50%;

	transition-duration: 2s;
	--angle-pag: calc(var(--swiper-indx) * 360deg / var(--swiper-slides) - 60deg);

	transform: rotate(calc(-1 * var(--angle-pag)));


	.appSlider__bulletBox {
		--radius: calc(var(--pagination-container-width) / 2);
		--bullet-width: 56px;
		--angle: calc(var(--bullet-n) * 360deg / var(--swiper-slides) - 60deg);

		font-size: 20px;
		user-select: none;
		cursor: pointer;
		color: transparent;
		transition-duration: 2s;

		position: absolute;
		width: var(--bullet-width);
		height: var(--bullet-width);

		border-radius: 50%;

		// transform: rotate(var(--angle)) translate(var(--radius)) rotate(calc(-1 * var(--angle)));
		transform: rotate(var(--angle)) translate(var(--radius)) rotate(calc(-1 * var(--angle) + var(--angle-pag)));
		top: calc(50% - calc(var(--bullet-width) / 2));
		left: calc(50% - calc(var(--bullet-width) / 2));
		display: flex;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;

		&:hover,
		&.appSlider__bullet--active {
			.appSlider__bullet {
				background-color: var(--theme-bg-color);
				border: 1px solid #303E58;
				color: var(--theme-primary-color);
				width: 100%;
				height: 100%;
			}

		}

		&.appSlider__bullet--active {
			.appSlider__sphere {
				color: var(--theme-primary-color);
				display: block;
			}
		}

		.appSlider__bullet {
			position: absolute;
			content: "";
			width: 6px;
			height: 6px;
			background-color: var(--theme-primary-color);

			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			transition-property: width, height, color, background-color;
			transition-duration: 0.5s;
		}

		.appSlider__sphere {
			left: 90px;
			position: relative;
			transition: color 0.5s 1.5s;
			display: none;
		}
	}

	/*circle for pagintion*/
	&::before {
		position: absolute;
		content: "";
		height: calc(100% - 2px);
		width: calc(100% - 2px);
		border: 1px solid var(--theme-primary-color);
		opacity: 0.2;
		border-radius: 50%;
	}
}

.appSlider__swiper {
	grid-area: swiper;
	width: 100%;
	padding-top: 56px;
}

.appSlider__nav {
	grid-area: nav;
	display: flex;
	flex-direction: column;
	padding-left: var(--body-padding);
}

.appSlider__navInfo {
	margin-top: auto;
}

.appSlider__buttons {
	display: flex;
	margin-top: 20px;
	gap: 20px;
}

/* GRID config END*/
.appSlider {
	max-width: 1440px;
	/*@TODO: return string below*/
	padding: var(--pagination-container-padding-top) 0 80px;
	/* padding: 50px 0 80px; */
	margin: 0 auto;
	position: relative;
	border-left: 1px solid var(--theme-primary-color-10-alpha);
	border-right: 1px solid var(--theme-primary-color-10-alpha);

	display: grid;
	grid-template-areas: "title  pagin ."
		"nav    pagin ."
		"swiper swiper swiper";

	grid-template-columns: 1fr 540px 1fr;
	grid-template-rows: auto;

	&::before,
	&::after {
		content: "";
		position: absolute;
		background-color: var(--theme-primary-color-10-alpha);
	}

	&::before {
		left: 0;
		top: calc(var(--pagination-container-width) / 2 + var(--pagination-container-padding-top) + 45px);
		width: 100%;
		height: 1px;
	}

	&::after {
		top: 0;
		left: 50%;
		width: 1px;
		height: 100%;
	}
}

/* GRID config START*/
.appSlider__title {
	grid-area: title;
}

.appSlider__titleText {
	position: relative;
	padding-left: var(--body-padding);
	font-size: 56px;
	font-weight: bold;

	&::before {
		content: "";
		position: absolute;
		background-image: linear-gradient(var(--theme-accent-color), var(--theme-offtop-color));
		left: 0;
		width: 2px;
		height: 100%;
	}
}

.appSlider__years {
	--year-size: 200px;
	font-weight: bold;
	position: absolute;
	width: 100%;
	top: calc(var(--pagination-container-width) / 2 + var(--pagination-container-padding-top) + 45px - var(--year-size)/2);
	font-size: var(--year-size);
	user-select: none;

	display: flex;
	justify-content: center;

	.appSlider__yearsMin {
		padding-right: 50px;
		color: var(--theme-font-color);
	}

	.appSlider__yearsMax {
		padding-left: 50px;
		color: var(--theme-offtop-color);
	}
}

.swiper-pagination {
	--swiper-pagination-bottom: 0px;
}

.swiper-button-prev {
	--swiper-navigation-sides-offset: 20px;
}

.swiper-button-next {
	right: auto;
	left: 65px;
}

/* .swiper-button-prev, */
.appSlider__buttonPrev,
.appSlider__buttonNext {

	width: 48px;
	height: 48px;
	border: 1px solid var(--theme-primary-color);
	border-radius: 50%;
	position: relative;
	cursor: pointer;

	&:after {
		--arrow-size: 14px;
		font-size: var(--arrow-size);
		color: var(--theme-primary-color);
		font-family: swiper-icons;
		position: absolute;
		top: calc(50% - var(--arrow-size)/2 - 1px);
		font-weight: 900;
	}

	&.swiper-button-disabled {
		opacity: 50%;
	}
}

.appSlider__buttonPrev {
	&:after {
		content: "prev";
		left: calc(50% - 5px);
	}

}

.appSlider__buttonNext {
	&:after {
		content: "next";
		left: calc(50% - 3px);
	}
}


// .swiper-container
// .swiper-wrapper to have display: inherit;

// I also set
// .swiper-slide to have display: inherit; width: auto !important; max-width: 100% !important
